In [10]:
import pandas as pd
import numpy as np
import glob

import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df_list = glob.glob('sport_rct_df_*')

In [12]:
data = pd.read_csv(df_list[0])

In [13]:
from sklearn.preprocessing import LabelEncoder
le_1 =LabelEncoder()
le_2 =LabelEncoder()

from kmodes.kmodes import KModes

In [138]:
sport = ['스포츠패션','아웃도어/레저','헬스/피트니스','시즌스포츠','여행/레저서비스','구기/필드스포츠']
#'스포츠패션'
for i in sport:
    df = data[data['clac_hlv_nm'] == i]
    print(df['clac_mcls_nm'].unique())
    print(df['pd_nm'].unique())
    print(df['pd_nm'].count())

['남성일반스포츠의류' '여성스포츠화' '여성일반스포츠의류' '남성스포츠화' '남성등산/아웃도어의류' '여성등산/아웃도어의류'
 '남성골프의류' '여성골프의류' '스포츠잡화' '유아동스포츠화' '유아동일반스포츠의류']
['남성트레이닝복' '여성런닝/트레이닝화' '남성스포츠티셔츠' '여성일반스포츠바지' '남성일반스포츠바지' '남성런닝/트레이닝화'
 '여성트레이닝복' '남성등산티셔츠' '여성등산점퍼/재킷' '남성등산/아웃도어세트' '남성스포츠스웨트셔츠/후드/집업' '남성등산패딩'
 '남성스포츠점퍼/재킷' '남성등산스웨트셔츠/후드/집업' '여성등산티셔츠/탑' '여성스포츠티셔츠/탑' '남성골프티셔츠'
 '남성골프바지' '여성스포츠스웨트셔츠/후드/집업' '남성골프의류세트' '남성등산점퍼/재킷' '여성골프의류세트' '남성등산바지'
 '스포츠모자' '남성골프니트/가디건' '남성스포츠샌들/슬리퍼' '여성골프티셔츠/탑' '유아동런닝/트레이닝화' '남성스포츠패딩'
 '유아동일반스포츠바지' '스포츠가방' '남성스포츠전신' '여성스포츠샌들/슬리퍼' '스포츠아대/헤어밴드' '여성골프스커트'
 '여성등산패딩' '여성스포츠점퍼/재킷' '유아동트레이닝복' '여성골프남방셔츠' '여성등산바지' '여성스포츠패딩' '남성등산전신'
 '스포츠두건/머플러/마스크' '여성스포츠속옷' '유아동스포츠스커트' '여성등산/아웃도어세트' '남성골프점퍼/재킷'
 '유아동스포츠전신/원피스' '유아동스포츠스웨트셔츠/후드/집업' '여성골프점퍼/재킷' '여성등산전신/원피스' '유아동스포츠티셔츠/탑'
 '여성스포츠스커트' '남성스포츠베스트' '스포츠양말' '유아동스포츠패딩' '여성골프니트/가디건' '유아동스포츠점퍼/재킷'
 '여성골프바지' '여성골프스웨트셔츠/후드/집업' '남성골프스웨트셔츠/후드/집업' '스포츠넥워머/버프/팔토시' '여성스포츠베스트']
4139
['기타아웃도어/레저' '캠핑' '등산' '인라인/스케이트보드/킥보드' '자전거']
['기타아웃도어/레저용품' '캠핑취사' '기타캠핑용품' '텐트' '야외용돗자리' '등산화' '캠핑테이블/의자' '스케이트보드/킥보드'
 '배낭' '기타배낭소품' '기타등산용품' '유아동용자전거' '인라인/스케이트보드/킥보드안전용품' '캠핑침구' '아이젠'
 '등산지팡이/스틱']
590
['피트니스' '스포츠댄스' '웨이트']
['피트니스용품' '기타피트니스기구' '스포츠댄스의류/용품' '요가/스포츠매트' '요가/필라테스복' '웨이트용품' '웨이트기구'
 '헬스바이크' '웨이트소품' '기타요가/필라테스소품']
356
['스키/보드' '수영/물놀이' '기타시즌스포츠']
['스키/보드장갑' '남성수영복' '여성수영복' '수영모자' '물안경' '아쿠아슈즈' '기타물놀이용품' '여성비치웨어'
 '남성비치웨어' '기타시즌스포츠용품' '구명조끼/안전용품' '오리발/스노클링' '아동비치웨어']
96
['이용권/입장권']
['놀이동산이용권' '스파/워터파크이용권' '기타이용권' '문화/공연입장권']
40
['기타구기/필드스포츠' '골프']
['기타구기/필드스포츠용품' '골프패션잡화' '골프화' '골프장갑']
6

### 스포츠 패션 분리 & 클러스터링

In [116]:
data_sf = data[data['clac_hlv_nm'] == '스포츠패션']
data_sf.head()

,cust,ma_fem_dv,ages,zon_hlv,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm
0,M061589994,여성,20대,Z17,A01291530696,1.0,A01,A010043,PD0787,20210802.0,17.0,51600.0,1.0,남성트레이닝복,스포츠패션,남성일반스포츠의류
12,M028358759,여성,20대,Z11,A01209446913,1.0,A01,A010024,PD0816,20210604.0,20.0,59000.0,1.0,여성런닝/트레이닝화,스포츠패션,여성스포츠화
13,M376037724,여성,20대,Z08,A01041100490,1.0,A01,A010042,PD0780,20210207.0,14.0,63200.0,1.0,남성스포츠티셔츠,스포츠패션,남성일반스포츠의류
45,M863631668,여성,20대,Z10,A01438908695,1.0,A01,A010064,PD0822,20211115.0,13.0,66200.0,1.0,여성일반스포츠바지,스포츠패션,여성일반스포츠의류
47,M614023415,여성,20대,Z10,A01286954511,1.0,A01,A010002,PD0816,20210730.0,17.0,39000.0,1.0,여성런닝/트레이닝화,스포츠패션,여성스포츠화

In [130]:
#인코딩 적용
data_clac = data_sf[['cop_c','clac_hlv_nm','clac_mcls_nm','pd_nm']]
#data_clac_en = data_clac.apply(le_1.fit_transform)
data_clac_en = pd.concat([data_clac,data_sf[['buy_am','buy_ct']]],axis=1)
data_clac_en

      cop_c clac_hlv_nm clac_mcls_nm       pd_nm    buy_am  buy_ct
0       A01       스포츠패션    남성일반스포츠의류     남성트레이닝복   51600.0     1.0
12      A01       스포츠패션       여성스포츠화  여성런닝/트레이닝화   59000.0     1.0
13      A01       스포츠패션    남성일반스포츠의류    남성스포츠티셔츠   63200.0     1.0
45      A01       스포츠패션    여성일반스포츠의류   여성일반스포츠바지   66200.0     1.0
47      A01       스포츠패션       여성스포츠화  여성런닝/트레이닝화   39000.0     1.0
...     ...         ...          ...         ...       ...     ...
11273   A01       스포츠패션       남성스포츠화  남성런닝/트레이닝화   81000.0     1.0
11274   A01       스포츠패션  남성등산/아웃도어의류   남성등산점퍼/재킷   59000.0     1.0
11275   A01       스포츠패션       남성스포츠화  남성런닝/트레이닝화   31200.0     1.0
11276   A01       스포츠패션    여성일반스포츠의류     여성트레이닝복   13300.0     1.0
11284   A01       스포츠패션  남성등산/아웃도어의류     남성등산티셔츠  332800.0     4.0

[4139 rows x 6 columns]

#엘보우 포인트 찾기
from kmodes.kmodes import KModes

cost = []
for num_clusters in list(range(1,20)):
    kmode = KModes(n_clusters=num_clusters, init = "Cao", n_init = 1, verbose=1)
    kmode.fit_predict(all_2)
    cost.append(kmode.cost_)

y = np.array([i for i in range(1,20,1)])
plt.plot(y,cost)

In [131]:
# Get the position of categorical columns
df = data_clac_en
catColumnsPos = [df.columns.get_loc(col) for col in list(df.select_dtypes('object').columns)]
print('Categorical columns           : {}'.format(list(df.select_dtypes('object').columns)))
print('Categorical columns position  : {}'.format(catColumnsPos))

Categorical columns           : ['cop_c', 'clac_hlv_nm', 'clac_mcls_nm', 'pd_nm']
Categorical columns position  : [0, 1, 2, 3]

In [123]:
dfMatrix = df.to_numpy()

In [134]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler

le = LabelEncoder()
std_scaler1 = StandardScaler()
std_scaler2 = StandardScaler()

# df 순서 유지시키려 이렇게 작업.
Scaler = ColumnTransformer([
    ('Non_scale1', 'passthrough', ['buy_am']),
    #("std_scale1", std_scaler1, ['rct_no']),
    ('Non_scale2', 'passthrough', ['buy_ct']),
    ("std_scale2", std_scaler2, ['clac_hlv_nm','clac_mcls_nm','pd_nm']),
])

# Convert dataframe to matrix
dfMatrix = Scaler.fit_transform(df)
dfMatrix.shape

ValueError: could not convert string to float: '스포츠패션'

In [124]:
#k-modes 클러스터링
n_clusters = 10
#km_cao = KModes(n_clusters=n_clusters, init = "Cao", n_init = 1, verbose=1)
#fitClusters_cao = km_cao.fit_predict(data_clac_en)


from kmodes.kprototypes import KPrototypes
kprototype = KPrototypes(n_clusters = n_clusters, random_state = 0)
kp = kprototype.fit_predict(dfMatrix,categorical = catColumnsPos)

ValueError: Clustering algorithm could not initialize. Consider assigning the initial clusters manually.

In [45]:
#클러스터링 중심점 
clusterCentroidsDf = pd.DataFrame(km_cao.cluster_centroids_)
clusterCentroidsDf.columns = data_clac_en.columns
clusterCentroidsDf

   clac_hlv_nm  clac_mcls_nm  pd_nm
0            0             2     13
1            0             3     22
2            0             1      6
3            0             8     53
4            0             7     43
5            0             0      5
6            0             4     26
7            0             6     41
8            0             5     36
9            0            10     62

In [46]:
data_clac_en['cluster'] = fitClusters_cao
data_clac_en

       clac_hlv_nm  clac_mcls_nm  pd_nm  cluster
0                0             3     22        1
12               0             7     43        4
13               0             3     19        1
45               0             8     52        3
47               0             7     43        4
...            ...           ...    ...      ...
11273            0             2     13        0
11274            0             1     10        2
11275            0             2     13        0
11276            0             8     53        3
11284            0             1     11        2

[4139 rows x 4 columns]

In [48]:
en_df = pd.concat([data_clac,data_clac_en],axis=1)
en_df.columns = ['clac_hlv_nm','clac_mcls_nm','pd_nm','clac_hlv_nm_en','clac_mcls_nm_en','pd_nm_en','cluster']
#en_df.drop_duplicates(['pd_nm','pd_nm_en'])
en_df

,clac_hlv_nm,clac_mcls_nm,pd_nm,clac_hlv_nm_en,clac_mcls_nm_en,pd_nm_en,cluster
0,스포츠패션,남성일반스포츠의류,남성트레이닝복,0,3,22,1
12,스포츠패션,여성스포츠화,여성런닝/트레이닝화,0,7,43,4
13,스포츠패션,남성일반스포츠의류,남성스포츠티셔츠,0,3,19,1
45,스포츠패션,여성일반스포츠의류,여성일반스포츠바지,0,8,52,3
47,스포츠패션,여성스포츠화,여성런닝/트레이닝화,0,7,43,4
...,...,...,...,...,...,...,...
11273,스포츠패션,남성스포츠화,남성런닝/트레이닝화,0,2,13,0
11274,스포츠패션,남성등산/아웃도어의류,남성등산점퍼/재킷,0,1,10,2
11275,스포츠패션,남성스포츠화,남성런닝/트레이닝화,0,2,13,0
11276,스포츠패션,여성일반스포츠의류,여성트레이닝복,0,8,53,3
11284,스포츠패션,남성등산/아웃도어의류,남성등산티셔츠,0,1,11,2

In [49]:
def cluster_plot(data,n):
    filtered = data[data['cluster']==n]
    fil_hlv = filtered.groupby(['clac_hlv_nm']).count()
    fil_mcls = filtered.groupby(['clac_mcls_nm']).count()
    fil_pd = filtered.groupby(['clac_mcls_nm']).count()

     #plt.figure(figsize=(10,6))
    #sns.barplot(x = fil_hlv.index,y='X55',data=fil_hlv)
    #plt.title('cluster %d 군집 내 기업 수 : %d'%(i,len(fil_hlv)))
    return filtered

In [83]:
def clusters_count(n_clusters):
    clu = cluster_plot(en_df,n_clusters)
    c_c = clu.groupby(['clac_hlv_nm','clac_mcls_nm','pd_nm']).count()
    print('clusters %d count: '%n_clusters,len(clu))
    return c_c

In [84]:
clusters_count(0)

clusters 0 count:  1061

                                      clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       남성스포츠화       남성런닝/트레이닝화              929              929
                         남성스포츠샌들/슬리퍼             113              113
            유아동스포츠화      유아동런닝/트레이닝화              19               19

                                      pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       남성스포츠화       남성런닝/트레이닝화        929      929
                         남성스포츠샌들/슬리퍼       113      113
            유아동스포츠화      유아동런닝/트레이닝화        19       19

In [85]:
clusters_count(1)

clusters 1 count:  1352

                                           clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       남성일반스포츠의류    남성스포츠베스트                       1                1
                         남성스포츠스웨트셔츠/후드/집업             113              113
                         남성스포츠전신                        8                8
                         남성스포츠점퍼/재킷                    65               65
                         남성스포츠티셔츠                     398              398
                         남성스포츠패딩                       24               24
                         남성일반스포츠바지                    141              141
                         남성트레이닝복                      602              602

                                           pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       남성일반스포츠의류    남성스포츠베스트                 1        1
                         남성스포츠스웨트셔츠/후드/집업       113      113
                         남성스포츠전신                  8        8
                         남성스포츠점퍼/재킷              65       65
                         남성스포츠티셔츠               398      398
                         남성스포츠패딩                 24       24
                         남성일반스포츠바지              141      141
                         남성트레이닝복                602      602

In [86]:
clusters_count(2)

clusters 2 count:  529

                                          clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       남성등산/아웃도어의류  남성등산/아웃도어세트                 238              238
                         남성등산바지                       17               17
                         남성등산스웨트셔츠/후드/집업               3                3
                         남성등산전신                        3                3
                         남성등산점퍼/재킷                   103              103
                         남성등산티셔츠                     133              133
                         남성등산패딩                       32               32

                                          pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       남성등산/아웃도어의류  남성등산/아웃도어세트           238      238
                         남성등산바지                 17       17
                         남성등산스웨트셔츠/후드/집업         3        3
                         남성등산전신                  3        3
                         남성등산점퍼/재킷             103      103
                         남성등산티셔츠               133      133
                         남성등산패딩                 32       32

In [87]:
clusters_count(3)

clusters 3 count:  436

                                           clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       여성일반스포츠의류    여성스포츠베스트                       3                3
                         여성스포츠속옷                        1                1
                         여성스포츠스웨트셔츠/후드/집업              21               21
                         여성스포츠스커트                       1                1
                         여성스포츠점퍼/재킷                     7                7
                         여성스포츠티셔츠/탑                   141              141
                         여성스포츠패딩                        5                5
                         여성일반스포츠바지                     34               34
                         여성트레이닝복                      223              223

                                           pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       여성일반스포츠의류    여성스포츠베스트                 3        3
                         여성스포츠속옷                  1        1
                         여성스포츠스웨트셔츠/후드/집업        21       21
                         여성스포츠스커트                 1        1
                         여성스포츠점퍼/재킷               7        7
                         여성스포츠티셔츠/탑             141      141
                         여성스포츠패딩                  5        5
                         여성일반스포츠바지               34       34
                         여성트레이닝복                223      223

In [88]:
clusters_count(4)

clusters 4 count:  280

                                      clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       여성스포츠화       여성런닝/트레이닝화              270              270
                         여성스포츠샌들/슬리퍼              10               10

                                      pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       여성스포츠화       여성런닝/트레이닝화        270      270
                         여성스포츠샌들/슬리퍼        10       10

In [89]:
clusters_count(5)

clusters 5 count:  166

                                          clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       남성골프의류       남성골프니트/가디건                    5                5
                         남성골프바지                       11               11
                         남성골프스웨트셔츠/후드/집업               1                1
                         남성골프의류세트                     47               47
                         남성골프점퍼/재킷                     8                8
                         남성골프티셔츠                      94               94

                                          pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       남성골프의류       남성골프니트/가디건              5        5
                         남성골프바지                 11       11
                         남성골프스웨트셔츠/후드/집업         1        1
                         남성골프의류세트               47       47
                         남성골프점퍼/재킷               8        8
                         남성골프티셔츠                94       94

In [90]:
clusters_count(6)

clusters 6 count:  92

                                        clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       스포츠잡화        스포츠가방                      11               11
                         스포츠넥워머/버프/팔토시               2                2
                         스포츠두건/머플러/마스크               9                9
                         스포츠모자                      45               45
                         스포츠아대/헤어밴드                 24               24
                         스포츠양말                       1                1

                                        pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       스포츠잡화        스포츠가방                11       11
                         스포츠넥워머/버프/팔토시         2        2
                         스포츠두건/머플러/마스크         9        9
                         스포츠모자                45       45
                         스포츠아대/헤어밴드           24       24
                         스포츠양말                 1        1

In [91]:
clusters_count(7)

clusters 7 count:  87

                                      clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       여성등산/아웃도어의류  여성등산/아웃도어세트               3                3
                         여성등산바지                    8                8
                         여성등산전신/원피스                2                2
                         여성등산점퍼/재킷                22               22
                         여성등산티셔츠/탑                40               40
                         여성등산패딩                   12               12

                                      pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       여성등산/아웃도어의류  여성등산/아웃도어세트         3        3
                         여성등산바지              8        8
                         여성등산전신/원피스          2        2
                         여성등산점퍼/재킷          22       22
                         여성등산티셔츠/탑          40       40
                         여성등산패딩             12       12

In [92]:
clusters_count(8)

clusters 8 count:  83

                                          clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       여성골프의류       여성골프남방셔츠                      8                8
                         여성골프니트/가디건                    1                1
                         여성골프바지                        5                5
                         여성골프스웨트셔츠/후드/집업               1                1
                         여성골프스커트                       1                1
                         여성골프의류세트                     23               23
                         여성골프점퍼/재킷                     8                8
                         여성골프티셔츠/탑                    36               36

                                          pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       여성골프의류       여성골프남방셔츠                8        8
                         여성골프니트/가디건              1        1
                         여성골프바지                  5        5
                         여성골프스웨트셔츠/후드/집업         1        1
                         여성골프스커트                 1        1
                         여성골프의류세트               23       23
                         여성골프점퍼/재킷               8        8
                         여성골프티셔츠/탑              36       36

In [93]:
clusters_count(9)

clusters 9 count:  53

                                            clac_hlv_nm_en  clac_mcls_nm_en  \
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       유아동일반스포츠의류   유아동스포츠스웨트셔츠/후드/집업               9                9
                         유아동스포츠스커트                       2                2
                         유아동스포츠전신/원피스                    3                3
                         유아동스포츠점퍼/재킷                     1                1
                         유아동스포츠티셔츠/탑                    11               11
                         유아동스포츠패딩                        2                2
                         유아동일반스포츠바지                      5                5
                         유아동트레이닝복                       20               20

                                            pd_nm_en  cluster
clac_hlv_nm clac_mcls_nm pd_nm
스포츠패션       유아동일반스포츠의류   유아동스포츠스웨트셔츠/후드/집업         9        9
                         유아동스포츠스커트                 2        2
                         유아동스포츠전신/원피스              3        3
                         유아동스포츠점퍼/재킷               1        1
                         유아동스포츠티셔츠/탑              11       11
                         유아동스포츠패딩                  2        2
                         유아동일반스포츠바지                5        5
                         유아동트레이닝복                 20       20